@charset "UTF-8";
/* CSS Document */

/* Styles the sidebar */
.sidebar-outer-container{
	float: left;
	max-width: 325px;
	height: 100%;
	position: absolute;
	width: 29.4118%;
	background-color: white;
	box-shadow: 0px 1px 1px #AAA;
}

/* Styles the container */
.sidebar-container{
	margin-top: 87px !important; 
}

/* Styles the individual widget */
.widget {
    margin-bottom: 8px !important;
}